<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
</head>
<script>
    const root = {{ .API_ROOT }};
    function postComment() {
        const content = document.querySelector("input").value;
        const data = {
            "userid": {{ .userID }},  
            "articleid": {{ .articleID }},
            "parentid": null,
            "content": content,
        }
        fetch("/comments", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(res => res.json())
        .then(res => {
            const e = document.createElement('p');
            e.innerHTML = res.content;
            document.body.appendChild(e);
        })
    }

    function getComments() {
    console.log("test")

        const articleID = {{ .articleID }};

        fetch(`/comments/?articleID=${articleID}`, {
        method: "GET",
            headers: {
                "Content-Type": "application/json"
            },
        })
        .then(res => res.json())
        .then(res => {
            for(var i = 0; i < res.comments.length; i++) {
                const e = document.createElement('p');
                e.innerHTML = res.comments[i].Comment.content;
                document.body.appendChild(e);
            }
        })
    }

    getComments();


</script>
<link rel="stylesheet" href="/styles/root.css">
<link rel="stylesheet" href="/styles/article_viewer.css">
<body class="flexWrapperVertical">
    
    <div class="header fixed">
        <a href="/" style="color: #000000; text-decoration: none;"> TREEHOUSE </a>
    </div>

    <div class="flexWrapper pageContentsScroll flexLeft">
        <div class="pageTitle articleTitle">{{ .title }}</div>
        <div class="styledFont marginBottom">By <a class="authorLink" href="/{{ .username }}">{{ .username }}</a></div>
        <div class="articleBody">
            {{ range $c := .content }}
                <p>{{ $c }}</p>
            {{ end }}
        </div>
    </div>

    <input placeholder="test comments"></input>
    <button onclick="postComment()">Post Comment</button>





</body>
</html>
