<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
</head>
<script>
    const root = {{ .API_ROOT }};
</script>
<link rel="stylesheet" href="../styles/root.css">
<link rel="stylesheet" href="../styles/article_viewer.css">
<body class="flexWrapperVertical">
    
    <div class="header fixed">
        <a href="/" style="color: #000000; text-decoration: none;"> TREEHOUSE </a>
    </div>
    

    <div class="flexWrapper pageContentsScroll">
        <div class="pageTitle">{{ .title }}</div>
        <p> By: {{ .author }} </p>
        <div class="articleBody">
            {{ range $c := .content }}
                <p>{{ $c }}</p>
            {{ end }}
        </div>
    </div>
</body>
</html>
