<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    const root = {{ .API_ROOT }};

    // TODO: flesh this out. does anything else need added?
    function verify(title, content) {
        if (title.length === 0) {
            return false;
        }

        if (content.length === 0) {
            return false;
        }

        return true;
    }

    function createArticleAttempt() {
        const title = document.getElementById('title').value;
        const content = document.getElementById('content').value;

        if (verify(title, content)) {
            fetch(`/create/articles`, {
                method: 'POST',
                body: JSON.stringify({
                    Title: title,
                    Content: content,
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(res => res.json()).then(res => {
                window.location.href = `/${res.username}/${res.slug}`;
            });
        }
        else {
            // some error handling
        }
    }
</script>
<link rel="stylesheet" href="/styles/root.css">
<link rel="stylesheet" href="/styles/create_article.css">
<body class="flexWrapperVertical">
    
    <div a href="/" class="header">
        <a href="/" style="color: #000000; text-decoration: none;"> TREEHOUSE </a>
    </div>
    

    <div class="flexWrapper pageContents">
        <div class="pageTitle">Create New Article</div>
        <div class="articleTitleInputContainer">
            <input class="articleTitleInput" type="text" name="articleTitle" id="title" placeholder="Article Title">
        </div>
        <textarea class="articleContentInput" name="content" id="content" placeholder="Start typing here"></textarea>
        <div class="buttonWrapper">
            <button class="postButton text" onclick="createArticleAttempt()">Post</button>
        </div>
    </div>
</body>
</html>
