<link rel="stylesheet" href="/styles/root.css">

<script> 
    function getHeaderProfilePic() {
        //get request to get profile pic using fetch
        fetch('/header-pfp', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log('test')
            document.querySelector('.profileImage').src = data.profilePicURL;
        })
    } 

    function getLocalUserName() {
        fetch('/local-username', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('userProfileButton').href = `/${data.username}`;
            document.getElementById('userProfileLink').href = `/${data.username}`;
        })
    }

    function showHeaderDropdown() {
        // height needs to be calculated
        const dropdown = document.querySelector('.headerNavDropdown');
        const dropdownItem = document.querySelector('.headerNavDropdownItemContainer');

        const itemStyle = getComputedStyle(dropdownItem);
        const itemHeight = parseInt(itemStyle.getPropertyValue('height'));
        const itemCount = [...dropdown.childNodes].filter(e => e.nodeType === 1).length;

        dropdown.style.height = `${itemCount * itemHeight}px`;
    }

    function hideHeaderDropdown() {
        document.querySelector('.headerNavDropdown').style.height = '0';
    }

    getHeaderProfilePic();
    getLocalUserName();
</script>

<div class="header fixed">
    <a class="logoLink" href="/home">TREEHOUSE</a>
    <div class="profileImageLink" onmouseenter="showHeaderDropdown()" onmouseleave="hideHeaderDropdown()">
        <a id="userProfileButton">
            <img class="profileImage" />
        </a>
        <div class="headerNavDropdown">
            <div class="headerNavDropdownItemContainer"><a class="headerNavDropdownItem" href="/home">Home</a></div>
            <div class="headerNavDropdownItemContainer"><a class="headerNavDropdownItem" id="userProfileLink">Profile</a></div>
            <div class="headerNavDropdownItemContainer"><a class="headerNavDropdownItem" href="/create-article">Write</a></div>
            <div class="headerNavDropdownItemContainer"><a class="headerNavDropdownItem" href="/logout">Logout</a></div>
        </div>
    </div>
</div>
<div class="headerDummy"></div>
