<link rel="stylesheet" href="/styles/root.css">

<div class="header fixed">
    <a class="headerLink" href="/logout">Logout</a>
    <a class="logoLink" href="/home">TREEHOUSE</a>
    <a class="headerLink" href="/{{ .username }}">Profile</a>
</div>
