<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TREEHOUSE</title>
</head>
<script>
    const root = {{ .API_ROOT }};
</script>
<link rel="stylesheet" href="/styles/root.css">
<link rel="stylesheet" href="/styles/profile.css">
<link rel="stylesheet" href="/styles/home.css">
<body class="flexWrapperVertical">
    {{ template "header.tmpl" .}}

    <div class="flexWrapper pageContentsScroll">
        <div class="pageTitle">Home</div>
        <div class="linkList">
            <div class="listHeader">Latest from your subscriptions</div>
            {{ range $a := .articles }}    
                <div class="linkContainer">
                    <a class="articleLink" href="/{{ $a.Username }}/{{ $a.Slug }}">{{ $a.Title }}</a>
                    <span class="author">{{ $a.Username }}</span>
                </div>
            {{ end }}
        </div>
    </div>
</body>
</html>
