<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script>
  </script>
  
  <link rel="stylesheet" href="/styles/login.css">
  <link rel="stylesheet" href="/styles/root.css">

  <style>
    .item {
        font-size: var(--article-content-font-size);
        margin: 0.5em;
        flex-basis: 100%;
        text-align: center;
    }
  </style>

  <body>
    <div class="container">
      <div class="title">TREEHOUSE</div>
      <div class="subtitle">Lightweight blogging platform.</div>
      <div class="item">
          <a class="fancyLink" href="/login"
            >Login</a>
        </div>
        <div class="item">
          <a class="fancyLink" href="/newuser"
            >Create account</a>
      </div>
    </div>
  </body>
</html>
