<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script>
    function keydown(e) {
        if (e.keyCode === 13) {
            createUserAttempt();
            return;
        }
    }

    function loginAttempt() {
        const values = getFieldValues();
        fetch(`/login`, {
            method: 'POST',
            body: JSON.stringify({
                username: values.username,
                password: values.password,
            }),
            headers: {
                'Content-Type': 'application/json',
            }}).then(res => {
                if (res.status === 200) {
                  console.log("status 200")
                  window.location.href = `/${values.username}`
              } else {
                  alert("invalid username or password");
                  console.log(res.message)
              }
            })
    }
    function getFieldValues() {
        return {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value,
        };
    }
  </script>
  
  <link rel="stylesheet" href="/styles/login.css">
  <body>
    <div class="container">
      <div class="title">TREEHOUSE</div>
      <div class="subtitle">Lightweight blogging platform.</div>
      <div>
        <div class="item">
          <input
            id="username"
            type="text"
            placeholder="Username"
            onkeydown="keydown(event)"
          />
        </div>
        <div class="item">
          <input
            id="password"
            type="text"
            placeholder="Password"
            onkeydown="keydown(event)"
          />
        </div>
        <div class="item">
          <button onclick="loginAttempt()">Login</button>
        </div>
        <div class="footer">
          No account?&nbsp;<a href="http://localhost:8080/newuser"
            >Create one here</a
          >.
        </div>
      </div>
    </div>
  </body>
</html>
