<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new user</title>
</head>
<script>
    function keydown(e) {
        if (e.keyCode === 13) {
            createUserAttempt();
            return;
        }
    }

    function isEmailValid(email) {
        const regex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
        return regex.test(email);
    }

    function isUsernameValid(username) {
        return !username.includes(' ');
    }

    function checkErrors(values) {
        let errors = [];
        for (const key of Object.keys(values)) {
            if (values[key] === '') {
                errors.push(key);
            }
            else if (key === 'email' && !isEmailValid(values[key])) {
                errors.push(key);
            }
            else if (key === 'username' && !isUsernameValid(values[key])) {
                errors.push(key);
            }
        }

        return errors;
    }

    function addErrorClasses(id) {
        document.getElementById(id).classList.add('error');
        document.getElementById(`${id}ErrorText`).classList.add('revealError');
    }

    function removeErrorClasses(id) {
        document.getElementById(id).classList.remove('error');
        document.getElementById(`${id}ErrorText`).classList.remove('revealError');
    }

    function createUserAttempt() {
        const values = getFieldValues();
        const errors = checkErrors(values);
        console.log(errors);

        for (const key of Object.keys(values)) {
            if (errors.includes(key)) {
                addErrorClasses(key);
            }
            else {
                removeErrorClasses(key)
            }
        }

        if (errors.length > 0) {
            return;
        }

        fetch('/newuser', {
            method: 'POST',
            body: JSON.stringify({
                username: values.username,
                password: values.password,
                firstName: values.firstName,
                lastName: values.lastName,
                email: values.email,
            }),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(res => res.json()).then(res => {
            if (res.errors) {
                console.log(res);
            } else {
                window.location.href = `/home`
            }
        })
    }

    function getFieldValues() {
        return {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value,
            firstName: document.getElementById('firstName').value,
            lastName: document.getElementById('lastName').value,
            email: document.getElementById('email').value,
        };
    }
        
</script>
<link rel="stylesheet" href="/styles/login.css">
<link rel="stylesheet" href="/styles/root.css">
<body>
    <div class="container">
        <div class="title">TREEHOUSE</div>
        <div class="subtitle">Lightweight blogging platform.</div>
        <div>
            <div class="item">
                <input  id="firstName" type="text" placeholder="New first name" onkeydown="keydown(event)" />
            </div>
            <div id="firstNameErrorText" class="errorText">
                First name required
            </div>
            <div class="item">
                <input  id="lastName" type="text" placeholder="New last name" onkeydown="keydown(event)" />
            </div>
            <div id="lastNameErrorText" class="errorText">
                Last name required
            </div>
            <div class="item">
                <input  id="email" type="text" placeholder="New email" onkeydown="keydown(event)" />
            </div>
            <div id="emailErrorText" class="errorText">
                Invalid email
            </div>
            <div class="item">
                <input  id="username" type="text" placeholder="New username" onkeydown="keydown(event)" />
            </div>
            <div id="usernameErrorText" class="errorText">
                Invalid username
            </div>
            <div class="item">
                <input  id="password" type="password" placeholder="New password" onkeydown="keydown(event)" />
            </div>
            <div id="passwordErrorText" class="errorText">
                Invalid password
            </div>
            <div class="item" style="position:relative;z-index:1;">
                <button onclick="createUserAttempt()">Create</button>
            </div>
        </div>
    </div>
</body>
</html>
