<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TREEHOUSE</title>
</head>
<script>
    const root = {{ .API_ROOT }};
    const subscribeeID = {{ .user_id }};

    function onSubscribe() {
        fetch("/create/subscribe", {
            method: "POST",
            body: JSON.stringify({
                subscribeeID: subscribeeID,
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then(res => res.json()).then(res => {
            if(document.getElementById("subscribe").innerHTML == "Subscribe") {
                document.getElementById("subscribe").innerHTML = "Unsubscribe";
            } else {
                document.getElementById("subscribe").innerHTML = "Subscribe";
            }

            alert(res.message);
        });
    }
</script>
<link rel="stylesheet" href="/styles/root.css">
<link rel="stylesheet" href="/styles/profile.css">
<body class="flexWrapperVertical">
    <div class="header fixed">
        TREEHOUSE
    </div>

    <div class="pageContentsScroll profileBody">
        <div class="pageTitle">{{ .username }}</div>
        <a class="linkButton" href="/create/create-article">Create</a>

        {{if .check}}
        <div></div>
        {{else}}{{if .alreadySubscribed}}
        <button  id="subscribe" class="linkButton" onclick="onSubscribe()">Unsubscribe</button>
        {{else}}
        <button  id="subscribe" class="linkButton" onclick="onSubscribe()">Subscribe</button>
        {{end}}{{end}}
        
        

        <div class="articleBody">
            {{ range $a := .articles }}
                <div class="linkContainer">
                    <a class="articleLink" href="/{{ $.username }}/{{ $a.Slug }}">{{ $a.Title }}</a>
                </div>
            {{ end }}
        </div>
    </div>
</body>
</html>
