<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TREEHOUSE</title>
</head>

{{ template "modal.tmpl" .}}

<script>
    const SUBSCRIBE_STRING = 'Subscribe';
    const UNSUBSCRIBE_STRING = 'Unsubscribe';

    const root = {{ .API_ROOT }};
    const subscribeeID = {{ .user_id }};

    let timer = null;    

    function subscribeModalWrapper() {
        const cond = document.getElementById('subscribe').innerHTML === SUBSCRIBE_STRING;
        const trueMessage = "❌ <span style='font-family: URW Gothic L'>Unsubscribed</span>";
        const falseMessage = "✅ <span style='font-family: URW Gothic L'>Subscribed</span>";
        createModal(cond, trueMessage, falseMessage);
    }

    function onSubscribe() {
        fetch("/subscribe", {
            method: "POST",
            body: JSON.stringify({
                subscribeeID: subscribeeID,
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then(res => res.json()).then(res => {
            if(document.getElementById("subscribe").innerHTML == SUBSCRIBE_STRING) {
                document.getElementById("subscribe").innerHTML = UNSUBSCRIBE_STRING;
            } else {
                document.getElementById("subscribe").innerHTML = SUBSCRIBE_STRING;
            }

            subscribeModalWrapper();
        });
    }

    function articleDeleteModalWrapper() {
        const message = "❌ <span style='font-family: URW Gothic L'> Article Deleted </span>";
        createModal(true, message, message);
    }

    function deleteArticle(element, event) {
        event.preventDefault();
        const grandparent = element.parentElement.parentElement;

        fetch("/delete-article", {
            method: "POST",
            body: JSON.stringify({
                articleID: parseInt(grandparent.id),
            }),
            headers: {
                "Content-Type": "application/json",
            }
        })

        grandparent.remove();
        articleDeleteModalWrapper();
    }

</script>
<link rel="stylesheet" href="/styles/root.css">
<link rel="stylesheet" href="/styles/profile.css">

<div class="modal" id="modal"></div>

<body class="flexWrapperVertical">
    {{ template "header.tmpl" .}}

    <div class="pageContentsScroll profileBody">
        <div class="profileInfoContainer">
            <div class="pictureContainer">
                <img class="dashboardImage" src="{{ .profilePicURL }}">
                
                {{if .check}}
                    <div><a href="/edit-profile" class="editProfile">Edit profile</a></div>
                {{else}}{{if .alreadySubscribed}}
                    <a id="subscribe" class="editProfile" onclick="onSubscribe()">Unsubscribe</a>
                {{else}}
                    <a id="subscribe" class="editProfile" onclick="onSubscribe()">Subscribe</a>
                {{end}}{{end}}
            </div>

            <div class="userInfoContainer">
                <div class="profileUsername">{{ .profileUsername }}</div>
                <div class="profileBio">{{ .bio }}</div>
                {{if .twitterCheck}} 
                    <div class="twitterContainer" id="twitter"> 
                        
                        <a class="twitterLink" href="{{ .twitterURL }}"><img class="twitterLogo" src="http://localhost:8080/assets/twitterLogo.png"></a>
                    </div>
                {{end}}
            </div>
        </div>

        <div class="contentContainer">
            <div class="linkList">
                <div class="listHeader">
                    <span style="align-self:center;height:fit-content;">Articles</span>
                    {{if .check}}
                        <a class="newArticleButton" href="/create-article">Add</a>
                    {{end}}
                </div>
                {{ range $a := .articles }}
                        <a id={{ $a.ArticleID }} class="articleLink" href="/{{ $a.Username }}/{{ $a.Slug }}">
                            <div class="articleLinkContainer">
                                <div onclick="deleteArticle(this, event)" class="delete-button">…</div>
                                <div style="cursor:pointer;" class="title"> {{ $a.Title }} </div>
                                <div style="cursor:pointer;" class="subtitle">{{ $a.Subtitle }}</div>
                                <div style="cursor:pointer;" class="date">{{ $a.TimestampPosted }}</div>
                                <div style="cursor:pointer;" class="readTime">{{ $a.ReadTime }} • MIN READ</div>
                            </div>
                        </a>
                {{ end }}
            </div>
        </div>

        <div class="contentContainer">
            <div class="linkList">
                <div class="listHeader">Favorites</div>
                {{ range $f := .favorites }}
                    <a id={{ $f.ArticleID }} class="articleLink" href="/{{ $f.Username }}/{{ $f.Slug }}">
                        <div class="articleLinkContainer">
                            <div onclick="deleteArticle(this, event)" class="delete-button">…</div>
                            <div style="cursor:pointer;" class="title"> {{ $f.Title }} </div>
                            <div style="cursor:pointer;" class="subtitle">{{ $f.Subtitle }}</div>
                            <div style="cursor:pointer;" class="date">{{ $f.TimestampPosted }}</div>
                            <div style="cursor:pointer;" class="readTime">{{ $f.ReadTime }} • MIN READ</div>
                        </div>
                    </a>
                {{ end }}
            </div>
            <div class="linkList">
                <div class="listHeader">Subscriptions</div>
                {{ range $s := .subscriptions }}
                    <div class="linkContainer">
                        <div style="display:flex; cursor:pointer;"> 
                            <img class="subscribeImage" src="{{ $s.Picture }}">
                            <a class="articleLink" href="/{{ $s.Username }}">{{ $s.Username }}</a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>
