<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TREEHOUSE</title>
</head>
<script>
    const root = {{ .API_ROOT }};
    const subscribeeID = {{ .user_id }};

    function onSubscribe() {
        fetch("/subscribe", {
            method: "POST",
            body: JSON.stringify({
                subscribeeID: subscribeeID,
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then(res => res.json()).then(res => {
            if(document.getElementById("subscribe").innerHTML == "Subscribe") {
                document.getElementById("subscribe").innerHTML = "Unsubscribe";
            } else {
                document.getElementById("subscribe").innerHTML = "Subscribe";
            }

            alert(res.message);
        });
    }
</script>
<link rel="stylesheet" href="/styles/root.css">
<link rel="stylesheet" href="/styles/profile.css">
<body class="flexWrapperVertical">
    {{ template "header.tmpl" .}}

    <div class="pageContentsScroll profileBody">
        <div class="pageTitle">
            {{ .profileUsername }}
            <img class="dashboardImage" src="http://localhost:8080/assets/pfptest.jpg">
        </div>

        {{if .check}}
        <a class="linkButton" href="/create-article">Create</a>
        <a class="linkButton">Edit Profile</a>
        {{else}}{{if .alreadySubscribed}}
        <button id="subscribe" class="linkButton" onclick="onSubscribe()">Unsubscribe</button>
        {{else}}
        <button id="subscribe" class="linkButton" onclick="onSubscribe()">Subscribe</button>
        {{end}}{{end}}

        <div class="contentContainer">
            <div class="postLinkList">
                <div class="listHeader">Posts</div>
                {{ range $a := .articles }}
                    <div class="articleContainer"> 
                        <a class="articleLink" href="/{{ $a.Username }}/{{ $a.Slug }}">
                            <div class="articleLink"> 
                                {{ $a.Title }}
                            </div>
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>

        <div class="contentContainer">
            <div class="linkList">
                <div class="listHeader">Favorites</div>
                {{ range $f := .favorites }}
                    <div class="linkContainer">
                        <a class="articleLink" href="/{{ $f.Username }}/{{ $f.Slug }}">{{ $f.Title }}</a>
                    </div>
                {{ end }}
            </div>
            <div class="linkList">
                <div class="listHeader">Subscriptions</div>
                {{ range $s := .subscriptions }}
                    <div class="linkContainer">
                        <a class="articleLink" href="/{{ $s }}">{{ $s }}</a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>
