.articleBody {
    font-size: var(--article-content-font-size);
    line-height: 1.5em;
    flex-basis: 100%;
}

.articleTitle {
    margin-bottom: 0;
}

.authorLink {
    font-weight: bold;
    font-size: var(--article-content-font-size);
    text-decoration: none;
    color: black;
}

.author {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1.5em;
    flex-basis: 100%;
}


.bookmark {
    height:2rem;
}

.titleRow {
    display: flex;
    flex-direction: row;
}