.articleBody {
    font-size: var(--article-content-font-size);
    line-height: 1.5em;
    flex-basis: 100%;
}

.articleTitle {
    margin-bottom: 0;
}

.articleSubtitle {
    font-size: 28px;
    color: #666;
    margin: 0;
    font-family: var(--styled-font-family);
    flex-basis: 100%;
    margin-bottom: 1em;
}

.authorLink {
    font-weight: bold;
    font-size: var(--article-content-font-size);
    text-decoration: none;
    color: black;
}

.author {
    flex-basis: 100%;
}

.separator {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
}

.timestamp {
    color: #aaa;
}

.bookmark {
    height:2rem;
}

.titleRow {
    display: flex;
    flex-direction: row;
}
.commentReply {
    padding-left: 0.5em;
    border-left: 1px solid black;
}
