body {
    --transition-background-color: #eee;
}

button {
    align-self: right;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: black;
}

.buttonWrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: right;
}

.articleTitleInputContainer {
    flex-basis: 100%;
    margin: 1em 0;
}

.articleTitleInput {
    font-size: 24px;
    font-family: var(--readable-font-family);
    padding-left: 0.35em;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    transition: all 0.5s;
}

.articleTitleInput:hover {
    border: 1px solid black;
}

.articleTitleInput:focus {
    border: 1px solid black;
    background-color: var(--transition-background-color);
}

.articleContentInput {
    font-size: var(--article-content-font-size);
    font-family: var(--readable-font-family);
    resize: initial;
    line-height: 1.5em;
    height: 20em;
    width: 60%;
    flex-basis: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    outline: 0;
    transition: all 0.5s;
}

.articleContentInput:hover {
    border: 1px solid black;
}

.articleContentInput:focus {
    border: 1px solid black;
    background-color: var(--transition-background-color);
}
