.profileBody {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: left;
}

.linkButton {
    font-family: var(--styled-font-family);
    padding: 0.15em;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    width: fit-content;
    margin-bottom: 2.5em;
    cursor: pointer;
}

.linkButton:hover {
    background-color: black;
    color: white;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
}

.linkList {
    flex-basis: 33%;
    font-family: var(--styled-font-family);
}

.linkContainer, .listHeader {
    position: relative;
    padding: 0.5em 0;
    width: calc(100% - 0.5em);
    border-bottom: 1px solid black;
}

.listHeader {
    font-size: var(--header-link-font-size);
}

.articleLink {
    background-color: transparent;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: black;
    line-height: 2em;
    display: block;
    text-indent: 0.5em;
}

.articleLink::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #eee;
    left: 0;
    bottom: 0;
    height: 2em;
    width: 100%;
    opacity: 0;
    transition: all 0.2s;
}

.articleLink:hover::after {
    opacity: 1;
}
