.profileBody {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: left;
}

.linkButton {
    font-family: var(--styled-font-family);
    padding: 0.15em;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    width: fit-content;
    margin-bottom: 2.5em;
    cursor: pointer;
}

.linkButton:hover {
    background-color: black;
    color: white;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top:10px;
    border-top: 1px solid black;
}

.articleLinkContentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 10em;
}
 
.articleLinkContent {
    height: auto;    
    flex-basis: 100%;
}

.linkList {
    flex-basis: 33%;
    font-family: var(--styled-font-family);
}

.postLinkList {
    flex-basis: 100%;
}

.linkContainer, .listHeader {
    position: relative;
    padding: 0.5em 0;
    width: calc(100% - 0.5em);
    border-bottom: 1px solid black;
}

.articleContainer {
    position: relative;
    padding: 0.5em 0;
    width: calc(100% - 0.5em);
}

.listHeader {
    font-size: var(--header-link-font-size);
}

.articleLink {
    display: flex;
    margin-top:0.5em;
    background-color: transparent;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: black;
    line-height: 2em;
    text-indent: 0.5em;
    cursor:pointer;
}

.articleLinkContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.articleLink::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #eee;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.2s;
}

.articleLink:hover::after {
    opacity: 1;
    border-radius: 0.5em;
}


.title {
    font-size: var(--header-link-font-size);
    font-weight: bold;
    margin-bottom: 0.5em;
}

.subtitle {
    font-family: var(--styled-font-family);
    font-weight: 100;
}

.date {
    font-family: var(--styled-font-family);
}

.readTime {
    font-family: var(--styled-font-family);
}