body {
    --styled-font-family: URW Gothic L;
    --readable-font-family: Noto Sans;

    --header-font-size: 30px;
    --header-link-font-size: 20px;
    --page-title-font-size: 44px;

    --article-content-font-size: 18px;

    --header-padding-total: calc(0.25em + 0.15em);
    --header-border-width: 1px;
    --header-height: calc(1em + 2 * var(--header-border-width) + var(--header-padding-total));
    --animation-timing-instant: 0s;
    --animation-timing-fast: 0.2s;
    --animation-timing-slow: 0.5s;
    --animation-smoothing: cubic-bezier(0.16, 1, 0.3, 1);
    --animate-hover: color var(--animation-timing-fast) var(--animation-smoothing), background-color var(--animation-timing-fast) var(--animation-smoothing), box-shadow var(--animation-timing-fast) var(--animation-smoothing), opacity var(--animation-timing-fast) var(--animation-smoothing);
    

    margin: 0;
}

div {
    cursor: default;
}

.styledFont {
    font-family: var(--styled-font-family);
}

.header {
    font-size: var(--header-font-size);
    font-family: var(--styled-font-family);
    line-height: 1em;
    padding: 0.35em 0 0.25em 0;
    border: var(--header-border-width) solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: calc(100% - 2px);
    background-color: white;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
}

.userButton {
    margin-right: 1em;
    cursor: pointer;
    color: black;
    background: #eeeeee;
    padding: 5px 5px 5px 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    height: 40px;
    border: 1px solid transparent;
    transition: var(--animate-hover);
}

.userButton:hover {
    background-color: #dddddd;
  }

.menu-trigger-image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.dashboardImage {
    border-radius: 50%;
    border: 5px solid black;
    height: 90px;
    width: 90px;
}

.changePFP {
    border-radius: 50%;
    border: 5px solid black;
    height: 90px;
    width: 90px;
}

.changePFP:hover {
    cursor: pointer;
    opacity: 0.3;
}


.headerLink, .logoLink {
    text-decoration: none;
    color: black;
}

.headerLink {
    font-size: var(--header-link-font-size);
    margin: 0 1em;
}

.pageTitle {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--page-title-font-size);
    font-family: var(--styled-font-family);
    flex-basis: 100%;
    margin-bottom: 0.5em;
    margin-top: 2em;
    
}

.pageContents {
    height: calc(80vh - var(--header-height));
    width: 40%;
    align-self: center;
}

.pageContentsScroll {
    width: 30%;
    align-self: center;
    top: var(--header-height);
    position: relative;
    margin-bottom: 10em;
}

.flexWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.flexWrapperVertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.flexLeft {
    justify-content: left;
}

.fancyLink {
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.fancyLink::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: width 0.3s;
}

.fancyLink:hover::after {
    left: 0;
    width: 100%;
}

.test {
    background-color:black;
    height:100px;
    width:100px;
}